/* marquee div container */
.marquee {
    font-size: 18px;
    color: #fff;
    height: 35px;
    overflow: hidden;
    background-color: #ed008c;
    position: relative;
    text-transform:uppercase;
    font-weight: 500;
    padding-top: 5px;
}
/* nested div inside the container */
.marquee div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
    float: left;
    width: 50%;
}
/* keyframe */
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.ImageHolder {
position: relative;
}
.WorkImagehover {
    border: 0px #fff solid ;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.WorkImagehover:hover {
    border: 15px #fff solid ;
    transition: all 0.2s ease-in-out;
}

.ImageHolder:before {
    content: "View";
    font-size: 16px;
  position: absolute;
  width: 120px;
  height: 120px;
    background: #01adef;
    color:#fff;
    left: 50%;
    top:50%;
    z-index: 5;
    transform: translate(-50% , -50%);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
       transition: all 0.2s ease-in-out;

}

.ImageHolder:hover::before {
    opacity: 1;
}


.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 70px;
    position: relative;
  }

  .background-masker {
    background-color: #fff;
    position: absolute;
  }
  
  .btn-divide-left {
    top: 0;
    left: 25%;
    height: 100%;
    width: 5%;
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
